.contSection{
    background-color: white;
    min-height: 100%;

.header div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    .logow2{
        @include cajaFoto;
    }
    .logoc2{
        @include cajaFoto;
    }
}

.header2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: white ;
     width: 100%;
}

/*navbar2*/
a{
    background-image: linear-gradient(to bottom , white,rgb(241, 161, 103));;
    border-radius: 20px;
     margin: 20px
}

.navbar2{
   @extend a;
    margin:0%;

    .bott{
       @include botoNav;
        }
}
/*main2*/

.main2{
 background-color: white;
    margin: 10px;
}
/*footer2*/

.footer2{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom , white,rgb(241, 161, 103));
}
     .ico{
     width: $ico-alto;
     height: $ico-ancho;
      }

}
/*contacto*/
.contacto{
    display: grid;
    gap: 2px;
    grid-template: 
    "ol section";
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    
}
ol{
    grid-area: ol;
margin: 10px;
}
section{
    grid-area: section;
    display: flex;
    justify-content: space-around;
        margin-top: 150px;
}
/*kung fu y taiji galeria*/

.card-ugarte{
    display: flex;
    justify-content: space-evenly;
}
.fotoUgarte{
    width: $foto-ancho;
    height: $foto-alto;
    border: $foto-borde;
    border-radius: $foto-rad;
}
.taijiFotos{
    display: flex;
    justify-content: space-evenly;
}
