.contSection{
    
    background-color: white;
    min-height: 100%;

.header div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    .logow2{
    
        width: 100%;
        
    }
    .logoc2{
       
        width: 100%;
    }
    
}
.header2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: white ;
     width: 100%;
}

/*navbar2*/
a{ 
    background-image: linear-gradient(to bottom , white,rgb(241, 161, 103));;
    border-radius: 10vw;
    
}

.navbar2{
    
   @extend a;
  

    .bott{
      
    
       @include botoNav;
        }
}
/*main2*/

.main2{
 background-color: white;
    margin: 10px;
}
/*footer2*/

.footer2{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom , white,rgb(241, 161, 103));
}
     .ico{
     width: $ico-alto;
     height: $ico-ancho;
     border-radius: 1vw;
      }

}
/*contacto*/

.contacto{
    display: grid;

    gap: 1vw;
    grid-template: 
    " article ol section";
    grid-template-columns: auto  auto auto;
    grid-template-rows: auto ;
    
}
article{
    grid-area: article;
    
    
    margin-top: 12vw;
    
}
ol{
width: 10vw auto;
    margin-left: 1vw;
    grid-area: ol;

}
section{
    grid-area: section;
    
        margin-top: 12vw;
        margin-right: 1vw;
} 
.fotoCont{
    width: 25vw;
    height: 25vw;
}
/*kung fu y taiji galeria*/

.card-ugarte{
    display: flex;
    justify-content: space-around;
}
.fotoUgarte{
    width: $foto-ancho;
    height: $foto-alto;
    border: $foto-borde;
    border-radius: $foto-rad;
}
.taijiFotos{
    display: flex;
    justify-content: space-evenly;
}
