.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    
}
.grid-item:hover{
    opacity: (0.9);
    transform: scale(1.4);
    transition: all, 3s;
}

.grid-galeria{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto );
    gap: 10px;
    padding: 10px;
    grid-auto-flow: dense;
}
.wide{
    grid-column: span 2
}
.tall{
grid-row: span 2;
}
.fotosGaleria{
    width: 250px;
    height: 250px;
}
.fotosGaleriaWide{
    width: 500px;
    height: 250px;
}
.fotosGaleriaTall{
    width: 250px;
    height: 500px;
}