*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
html {
    height: 100%;
}
body{
 background-color: white;
 font-size: 1vw;
 min-height: 100%;
}
 .container{
    text-align: center;
    min-width: 100%;}
 

