/* header*/ 

.header div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
         .titulo{
         width: 100%;
         color: chocolate;
         font-family: cursive;
         font-size: 3vw;
         }
         .logow{
         width: 100%;
         max-width: 200px;
         max-height: 200px;
         }
         .logoc{
         width: 100%;
         max-width: 200px;
         max-height: 200px;
             .logoImagen{
             width: 100%;
             }
         }
         }
   
    /*nav*/
    .navbar{
        display: flex;
        justify-content: space-around;
        .bott{
            display: inline-block;
             margin: 6px auto;
             padding: 14px;
             color: white;
             background: black;
             text-decoration: none;
             border: solid white 1px;
             border-radius: 110px;
             width: 55px auto;
             height: 55px;
         }
          }
    .navbar a{
       display: inline-block;
        margin: 6px auto;
        padding: 14px;
        color: white;
        background: black;
        text-decoration: none;
        border: solid white 1px;
        border-radius: 110px;
        width: 55px auto;
        height: 55px;
       }
    /*main*/
    .pilares{
         list-style: none;
         font-family: fantasy;
         font-size: 1.3vw;
         padding: 15px;
         border: solid rgb(100, 99, 57) 3px;
         margin: 1vw 8vw;
        }
    p{
        font-size: 1.6vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: black;
    }
    /*article*/
    .imagArt{
    display: flex;
    justify-content: space-evenly;
        width: 100%;
    height: 100%;
    }
    /* footer*/

    .footer{
        display:flex;
        justify-content: space-evenly;
        .ico{
            width: $ico-alto;
            height: $ico-ancho;
             }
    }