
$colorFooter: rgb(241, 161, 103);
$foto-ancho: 30vw;
$foto-alto: 22vw;
$foto-borde: border solid  1vw rgb(77, 58, 58);
$foto-rad: 5vw;  
$ico-ancho: 2vw;
$ico-alto: 2vw;
$foto-ancho2: 22vw;
$foto-alto2: 30vw;
$foto-ancho3: 20vw;
$foto-alto3: 25vw;
@mixin cajaFoto {
    
        width: 1vw;
        height: 1vw;
}
@mixin botoNav {
    display: inline-block;
    margin: 6px auto;
    padding: 14px;
    color: white;
    background: black;
    text-decoration: none;
    border: solid white 1px;
    border-radius: 110px;
    width: 55px auto;
    height: 55px;
    
}
