
$colorFooter: rgb(241, 161, 103);
$foto-ancho: 28vw;
$foto-alto: 30vw;
$foto-borde: border  2px solid rgb(77, 58, 58);
$foto-rad: 100px;  
$ico-ancho: 30px;
$ico-alto: 30px;

@mixin cajaFoto {
    
        width: 1vw;
        height: 1vw;
}
@mixin botoNav {
    display: inline-block;
    margin: 6px auto;
    padding: 14px;
    color: white;
    background: black;
    text-decoration: none;
    border: solid white 1px;
    border-radius: 110px;
    width: 55px auto;
    height: 55px;
    
}
